@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero {
  padding-top: 32px;

  &__content {
    align-items: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__plot {
    @include m-set-font(24px, 400, 133%);
    margin-bottom: 60px;
    color: $color-white-a70;
  }

  &__movie-descr {
    padding-right: 20px;

    .movie-info {
      margin-bottom: 16px;
    }
  }

  .buttons {
    gap: 16px;

    &__open-trailer {
      width: 171px;
    }

    &__about-movie {
      width: 183px;
    }

    &__like-movie {
      &:hover {
        & > svg > path {
          fill: red;
        }
      }

      &:focus-visible {
        & > svg > path {
          fill: red;
        }
      }
    }
  }

  &__poster {
    align-self: flex-start;
    flex-shrink: 0;
    width: 53%;

    img {
      @include m-set-size(100%, 552px);
      border-radius: 16px;
      object-fit: cover;
    }
  }
}

@media (max-width: $media-width-laptop) {
  .hero {
    &__content {
      align-items: flex-start;
      flex-direction: column-reverse;
    }

    &__movie-descr {
      padding-right: 0;
    }

    &__poster {
      margin-bottom: 24px;
      width: 100%;
    }
  }
}

@media (max-width: $media-width-tablet) {
  .hero {
    padding-top: 0;

    .buttons {
      &__about-movie {
        width: 147px;
      }
    }

    &__poster img {
      height: 421px;
    }
  }
}

@media (max-width: $media-width-mobile) {
  .hero {
    &__plot {
      margin-bottom: 32px;
      font-size: 18px;
    }

    &__poster img {
      height: 234px;
    }

    .buttons {
      gap: 16px 5px;
      justify-content: space-between;

      &__about-movie {
        width: 100%;
        max-width: 47%;
      }

      &__open-trailer {
        width: 100%;
      }
    }
  }
}
