@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.top-movies {
  padding-block: 40px 120px;

  &__content {
    display: block;
  }

  &__list {
    .movie-number {
      @include m-set-font(24px, 700, 133%);
      position: absolute;
      top: -12px;
      left: -12px;
      padding: 8px 24px;
      border-radius: 50px;
      color: $color-blue-text;
      background-color: $color-white;
    }
  }
}

@media (max-width: $media-width-tablet) {
  .top-movies {
    padding-block: 40px 0;
  }
}
