$color-primary: #67a5eb;
$color-secondary: #393b3c;
$border-color: #808080;
$color-silver: #a9a9a9;
$color-pink: #dc5dfc;
$color-blue-vk: #0077ff;
$color-red-youtube: #ff0000;
$color-blue-telegram: #27a7e7;
$color-orange-ok: #ff7700;
$color-gold-rating: #a59400;
$color-green-rating: #308e21;
$color-red-rating: #c82020;
$color-blue-text: #6a5dc2;
$color-gray: #777;
$color-white: #fff;
$color-white-a80: rgba(255, 255, 255, 0.8);
$color-white-a70: rgba(255, 255, 255, 0.7);
$color-white-a50: rgba(255, 255, 255, 0.5);
$color-white-a33: rgba(255, 255, 255, 0.33);
$color-white-a25: rgba(255, 255, 255, 0.25);
$color-black: #000;
$color-black-a50: rgba(0, 0, 0, 0.5);
$color-black-a40: rgba(0, 0, 0, 0.4);
$color-content-error: #ff7575;
$color-content-success: #98dd98;
$content-primary: rgba(255, 255, 255, 1);
$content-active: rgba(180, 169, 255, 1);
$content-disabled: rgba(255, 255, 255, 0.5);
$background-primary: linear-gradient(
    0deg,
    rgba(39, 36, 36, 0.7),
    rgba(0, 0, 0, 0.77)
  ),
  linear-gradient(0deg, rgba(163, 147, 245, 1), rgba(39, 135, 245, 1));

$transition-duration: 0.15s;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-24: 24px;

$media-width-laptop: 1290px;
$media-width-tablet: 999px;
$media-width-mobile: 582px;

$container-padding-laptop: 40px;
$container-padding-tablet: 30px;
$container-padding-mobile: 20px;
