@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.movies {
  &__content {
    flex-direction: column;
  }

  &__link-title {
    @include m-set-transition(color);
    align-items: center;
    width: max-content;

    & > svg {
      margin-right: 17px;

      & > path {
        @include m-set-transition(fill);
      }
    }

    &:hover {
      color: $content-active;

      & > svg > path {
        fill: $content-active;
      }
    }

    &:focus-visible {
      color: $content-active;

      & > svg > path {
        fill: $content-active;
      }
    }

    &:active {
      color: $color-white-a33;

      & > svg > path {
        fill: $color-white-a33;
      }
    }
  }

  &__list {
    margin-bottom: 64px;
  }

  &__more-btn {
    align-self: center;
    width: 100%;
    max-width: 218px;
  }
}

@media (max-width: $media-width-mobile) {
  .movies {
    &__list {
      align-items: center;

      .movie-card {
        height: 502px;
      }
    }
  }
}
