@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.formField {
  width: 340px;

  label {
    & > svg > path {
      fill: $color-black-a40;
    }
  }

  &.error {
    border-color: $color-content-error !important;

    label > svg > path {
      fill: $color-content-error !important;
    }
  }
}

.validationMessage {
  color: $color-content-error;
}

@media (max-width: $media-width-tablet) {
  .formField {
    max-width: 295px;
  }
}
